html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f4f6f9;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

/* Main content grows */
main {
    flex: 1;
}

/* Footer always at bottom */
.footer {
    background: #1f2937;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    width: 100%;
}

/* Cards */
.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Tables */
.table {
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

/* Buttons */
.btn {
    border-radius: 8px;
}

/* Dashboard title */
.dashboard-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.dashboard-subtitle {
    text-align: center;
    color: gray;
    margin-bottom: 40px;
}